<div class="example-wrapper">
    <h2 class="example-header">Basic</h2>

    <button class="example-menu-btn"
            [owlMenuTriggerFor]="basicMenu"
            (menuOpened)="menuOpened()"
            (menuClosed)="menuClosed()">
        Menu
    </button>
    <owl-menu #basicMenu="owlMenu">
        <button owl-menu-item>Item 1</button>
        <button owl-menu-item>Item 2</button>
    </owl-menu>
</div>

<div class="example-wrapper">
    <h2 class="example-header">Hover</h2>
    <p>Hover To Trigger The Menu Open</p>

    <button class="example-menu-btn"
            [owlMenuTriggerFor]="hoverMenu"
            (mouseenter)="trigger.openMenu()"
            (menuOpened)="menuOpened()"
            (menuClosed)="menuClosed()"
            #trigger="owlMenuTrigger">
        Menu
    </button>
    <owl-menu #hoverMenu="owlMenu">
        <button owl-menu-item>Item 1</button>
        <button owl-menu-item>Item 2</button>
    </owl-menu>
</div>