<section class="example-container">
    <h1>Owl Sweet Alert Examples</h1>

    <app-basic-example></app-basic-example>

    <app-html-content-example></app-html-content-example>

    <app-input-content-example></app-input-content-example>

    <app-select-content-example></app-select-content-example>

    <app-radio-content-example></app-radio-content-example>

    <app-check-box-content-example></app-check-box-content-example>

    <app-image-content-example></app-image-content-example>
</section>
