<section class="example-container">
    <h1>Owl Notifier Examples</h1>

    <div class="example-wrapper">

        <button class="example-btn" (click)="notify()" owlRipple>Notifier</button>

        <button class="example-btn" (click)="notifyCustom()" owlRipple>Custom Notifier</button>

        <owl-form-field class="example-input-wrapper">
            <input owlInput [(ngModel)]="message" placeholder="Message">
        </owl-form-field>

        <owl-form-field class="example-input-wrapper">
            <input owlInput [(ngModel)]="action" placeholder="Action Text">
        </owl-form-field>

        <owl-form-field class="example-input-wrapper">
            <input owlInput [(ngModel)]="life" placeholder="Life(ms)" type="number">
        </owl-form-field>

        <owl-form-field class="example-input-wrapper">
            <owl-select [(ngModel)]="type" placeholder="type">
                <owl-option>none</owl-option>
                <owl-option value="question">question</owl-option>
                <owl-option value="warning">warning</owl-option>
                <owl-option value="info">info</owl-option>
                <owl-option value="success">success</owl-option>
                <owl-option value="error">error</owl-option>
            </owl-select>
        </owl-form-field>

        <owl-form-field class="example-input-wrapper">
            <owl-select [(ngModel)]="vertical" placeholder="Vertical">
                <owl-option value="top">top</owl-option>
                <owl-option value="bottom">bottom</owl-option>
            </owl-select>
        </owl-form-field>

        <owl-form-field class="example-input-wrapper">
            <owl-select [(ngModel)]="horizontal" placeholder="Horizontal">
                <owl-option value="left">left</owl-option>
                <owl-option value="center">center</owl-option>
                <owl-option value="right">right</owl-option>
            </owl-select>
        </owl-form-field>
    </div>
</section>
