.example-container {
  padding: 1rem;
}

.example-wrapper {
  margin-bottom: 3rem;
}

.example-docPanel {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px #cfd8dc;
  background-color: #e2e2e2;

  .example-docPanelContent {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}