<section class="example-container">
    <h1>Owl Ripple Effect Examples</h1>

    <div class="example-wrapper">
        <h2>Basic</h2>
        <p>Ripple would spread from the click position of the element</p>

        <button class="example-btn" owlRipple>Click Me</button>

        <div class="example-icon-wrapper" owlRipple>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
    </div>

    <div class="example-wrapper">
        <h2>Centered Ripple</h2>
        <p>Ripple would always spread from the center of the element</p>

        <button class="example-btn" [owlRippleCentered]="true" owlRipple>Click Me</button>

        <div class="example-icon-wrapper" [owlRippleCentered]="true" owlRipple>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
    </div>

    <div class="example-wrapper">
        <h2>Customise Ripple Color</h2>

        <button class="example-btn" [owlRippleColor]="'rgba(81, 45, 168, 0.4)'" owlRipple>Click Me</button>

        <div class="example-icon-wrapper" [owlRippleColor]="'rgba(189, 50, 50, 0.4)'" owlRipple>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
    </div>

    <div class="example-wrapper">
        <h2>Unbounded with a different radius</h2>

        <button class="example-btn" [owlRippleCentered]="true"
                [owlRippleUnbounded]="true" [owlRippleRadius]="80" owlRipple>
            Click Me
        </button>

        <div class="example-icon-wrapper" [owlRippleCentered]="true"
             [owlRippleUnbounded]="true" [owlRippleRadius]="50" owlRipple>
            <i class="fas fa-pencil-alt" aria-hidden="true"></i>
        </div>
    </div>
</section>
