<div class="example-wrapper">
    <h2 class="example-header">Count Down With Different Time Units</h2>

    <owl-timer class="example-timer"
               [timerDays]="timerDays"
               [timerHours]="timerHours"
               [timerMinutes]="timerMinutes"
               [timerSeconds]="timerSeconds"
               [maxTimeUnit]="'hour'"
               [autoStart]="true"></owl-timer>

    <owl-timer class="example-timer"
               [timerDays]="timerDays"
               [timerHours]="timerHours"
               [timerMinutes]="timerMinutes"
               [timerSeconds]="timerSeconds"
               [maxTimeUnit]="'minute'"
               [autoStart]="true"></owl-timer>

    <owl-timer class="example-timer"
               [timerDays]="timerDays"
               [timerHours]="timerHours"
               [timerMinutes]="timerMinutes"
               [timerSeconds]="timerSeconds"
               [maxTimeUnit]="'second'"
               [autoStart]="true"></owl-timer>
</div>
